<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h2><strong>My product list</strong></h2>

<p>Napisz cos na stronie</p>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="produkt: ${products}">
        <td th:text="${produkt.getName()}">
        <td th:text="${produkt.getPrice()}">
    </tr>
</table>

<form th:action="@{/add-product}" th:object="${newProduct}" method="post">
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Price: <input type="text" th:field="*{price}"></p>
    <p><input type="submit" value="add new product"></p>

</form>


</body>

</html>